.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to right, rgba(0, 31, 63, 0.84) , rgba(0, 63, 92, 0.84) );
  font-family: Arial, sans-serif;
  color: white;
  height: 153px;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  transition: font-size 0.6s, color 0.6s;
}
 .navbar-links a:hover {
  color: rgb(56, 164, 214);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: 700;
}
.navbar-links a:active {
  color: rgb(56, 164, 214);
  text-decoration: none;
  font-size: 20px;
  position: relative;
  font-weight: 900;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  background-color: transparent;
  border: 2px solid rgb(0, 170, 255);
  border-radius: 20px 5px 20px 5px;
  color: #00aaff;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
    font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;
  transition: font-size 0.4s, color 0.4s;
}

.login-btn:hover {
  background-color: rgb(0, 170, 255);
  color: rgb(197, 195, 195);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: 700;
}
.login-btn:active {
  background-color: #00aaff;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  font-weight: 900;
}

.lang-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}
.Page {
  background-image: url(pics/Avatar_standing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 156px;
  padding-top: 338px; 
  color: white;
}
.Join_Clan {
  width: 350px;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.clan-txt {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 100px;
  width: 295px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}
.arrow {
  align-self: left;
  background-image: url(pics/Rectangle\ 53.png);
  padding: 15px 40px;
  background-repeat: no-repeat;
  margin-left: 100px;
}
.clan-text {
  width: 295px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

}

.join-clan-button {
  background-color: #0B0E66;
  border: 3px solid rgb(0, 170, 255);
  border-radius: 50px 5px 50px 5px;
  color: #00aaff;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
    font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;
  transition: font-size 0.4s, color 0.4s;
  margin-left: 100px;
  width: 260px;
  height: 80px;

}
.join-clan-button:hover {
  border: 3px solid #0B0E66;
  background-color: rgb(0, 170, 255);
  color: rgb(197, 195, 195);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: 700;
}
.join-clan-button:active {
  background-color: #00aaff;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  font-weight: 900;
}
.quote-1-padding {
  height: 350px;
  padding-bottom: 10px;
}
.quote1-top {
  padding-top: 75px;
  padding-left: 170px;
  padding-right: 170px;
  height: 44px;
  width: 1100px;
  text-align: center;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;

  color: #000000;

}